<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign in</title>
</head>
<body>
    <h1>Welcome to Thai Nguyen's Blog!</h1>
    
    <form action="">
        <div>
            <p>Username:</p>
            <input type="text" placeholder="Enter username" >
        
        
            <p>Password:</p>
            <input type="password" placeholder="Enter password">
        
        </div>
        <br>
        <button>Sign in</button>
    </form>

</body>
</html>