<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
    <!-- <script type="text/javascript" src="scripts/auth.js"></script> -->
</head>
<body>
    <div>
        <a href="/" style="text-decoration: none; font-size: xx-large; color: black;">Thai Nguyen's Blog</a>
        <a href="/auth/signin" style="margin-left: 30px;">Sign in</a>
        <a href="/auth/signup" style="margin-left: 10px;">Sign up</a>
    </div>

    <h2>Welcome to my blog!</h2>

    
    

    
</body>
</html>